@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-primary-light: rgba(79, 70, 229, 0.15);
  --color-primary-border: rgba(54, 48, 130, 0.79);
  --color-primary-ring: rgba(79, 70, 229, 0.25);
  --color-primary-200: #a9a9f4;

  --color-secondary: #1e1b4b;
  --color-secondary-hover: #2d2a6e;

  --color-surface: rgba(99, 102, 241, 0.12);
  --color-surface-hover: rgba(99, 102, 241, 0.22);

  --color-foreground: #020817;
  --color-foreground-muted: #64748b;
  --color-text-muted: #a5b4fc;
  --color-text-subtle: #818cf8;
  --color-text-on-primary: #ffffff;
  --color-text-light: #e0e7ff;
  --color-text-placeholder: #7c7fc4;
}